html {
  font-size: 18px;
  font-family: Helvetica;
}

div {
  display: block;
}

/* Header */
.company {
  background-color: black;
  color: white;
}

.site {
  max-width: 960px;
  margin: 0px auto;
}

.company .site {
  display: flex;
  align-items: center;
}

img {
  border-style: none;
}

.company img {
  height: 1.5rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  padding-left: .05rem;
  padding-right: 1rem;
  justify-content: flex-start;
}


/* Banner */
.banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline {
  background-color: black;
  color: white;
  width: 20rem;
  position: relative;
  top: 9rem;
  padding: 2rem 3rem;
}

h1, h4 {
  font-weight: bold;
  display: block;
}
h4 {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

/* Navigation */
nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  list-style: none;
}

.mobile-nav {
  display: none;
}

 /* Products */
.product {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0px 0px 0px;
  flex-direction: row;
}

.items {
  width: 30%;
  border: 4px solid black;
}

.product-image {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 2rem 0;
}

.product-image img {
  max-width: 50%;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
  padding: 0.5rem 0px;

}

/* Contact */
.contact {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.info {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.info .title {
  background-color: black;
  color: white;
  display: block;
  padding: 1rem 2rem;
}

/* Footer */
footer {
  display: block;
  background-color: black;
  color: white;
  margin-top: 4rem;
  padding: 5rem 0px;
}

/* Media */
/* Tablet */
@media only screen and (max-width: 1024px){
  body {
    font-size: 16px;
  }
  nav ul {
    display: none;
  }
  .mobile-nav {
    display: block;
    text-align: center;
  }

  .product {
    flex-wrap: wrap;
  }
  .items {
    width: 47%;
    flex-wrap: wrap;
  }
  .glasses {
    display: none;
  }
  .product-image img {
    max-width: 50%;
  }
}
/* Mobile */
@media only screen and (max-width: 470px) {
  h4 {
    font-size: 0.77rem;
  }
  h1 {
    font-size: 1rem;
  }
  .headline {
    padding: 1rem 2rem;
    top: 10rem;
  }
  .banner {
    height: 15rem;
  }
  .product {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .items {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .watch {
    display: none;
  }
  .info {
    width: 90%;
    margin-top: 1rem;
  }
  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
